# Supabase Configuration
# Replace [YOUR-PASSWORD] with your actual Supabase database password
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.jarzezvwcqsnifwfdacv.supabase.co:5432/postgres

# Supabase Project Details
SUPABASE_URL=https://jarzezvwcqsnifwfdacv.supabase.co
SUPABASE_ANON_KEY=sb_publishable_WcMzz7pZyeKvFshAZnwqhg_alGliCvI
